@import "tailwindcss";

@layer base {
  body {
    @apply bg-background-light text-primary antialiased;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

@theme {
  --color-primary: #121212;
  --color-primary-foreground: #ffffff;
  --color-accent-gold: #C5A059;
  --color-gold-accent: #D4AF37;
  --color-background-light: #FAFAFA;
  --color-background-dark: #1A1A1A;
  --color-secondary-text: #666666;
  --color-accent-beige: #F5F5F0;
  --color-border-light: #ededed;

  --font-sans: Inter, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-display: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}